.content
  .page-header
    %h1
      Adamantio
      %small Opensource framework for cross-platform mobile development
  .row
    .span10
      %p
        Adamantio is an opensource framework for web developers, allows them to build native mobile applications, cross-platform, using web technologies such as HTML, Javascript and CSS. This framework is based on Titanium Mobile, in contrast, Adamantio is completly opensource.

      %h3 
        License
      %p
        Apache License, Version 2.0 
      #authors      
        %h3 
          Authors
        %ul
          %li 
            Abraham Barrera (@abraham_barrera)
          %li
            Rodrigo Ayala (@rodrigoayala)
          %li
            Felipe Hernandez (@felipedev)
      #roadmap
        %h3 
          Roadmap
        %dl
          %dt
            2011 Q4
          %dd    
            Researching and understand Titanium architecture.
            Integration with Ti Gem.
          %dt
            2012 Q1
          %dd    
            First release.
            Modules development.
      #source
        %h3
          Source
        %p
          No source yet. But you can suscribe to our repository: 
          %a(href="http://github.com/adamantio/adamantio") 
            on Github, Adamantio.
            
    .span4
      %h3 Are you Developer?
      %p
        %span(class="label success")
          New 
        Are you a Mobile, Web or UX Developer?
        do you want to colaborate with this project?
        %br
        %strong
          Join us!
      %h6 
        Developers List
      %p
        %form{:action => "http://groups.google.com/group/adamantio-devel/boxsubscribe"}
          %a(href="http://groups.google.com/group/adamantio-devel")
            adamantio-devel
          %input.input-small{:placeholder => "Email", :name=> "email", :type => "email", :style=>"width:130px"}
            %button.btn{:type => "submit", :name => "sub"} Join!

      %h6 IRC Channel
      %p
        %a(href="http://webchat.freenode.net/")
          ="#adamantio-devel"
        on Freenode
      %h3 
        Have a donation?
      %p
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
          %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
          %input{:name => "hosted_button_id", :type => "hidden", :value => "ZL26DC79UFEKY"}
          %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}
          %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
